@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Playfair+Display&display=swap');

body{
 /* background-color: #243B4A; #F8E1D1;*/
  background-image: url('noise.png'), linear-gradient(to right, #ac9088 ,#2D4654, #243B4A);
  text-align: justify;
  font-family: 'Playfair Display';
  font-size: 18px;
  white-space:wrap;
  padding: 10px;
}

h1 {
  color: #faded5;
  font-family: 'Comforter', sans-serif;
  text-align:center;
  font-size: 40px;
}

h2 {
  background-color: #ac9088;
  color: black;
  font-family: 'Playfair Display';
  text-align: center;
  padding: 7px;
}

#welcome-section {
  color: #faded5;
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
}

#content, .projects {
  background-color: #f8c9b9 !important;
  overflow: hidden;
  text-align:center;
  color: #4e3c3e;
  border-radius: 20px;
  padding: 15px;
}

.about-me {
  padding: 15px;
}

#content,a {
  color: #4e3c3e;
  font-size: 20px;
  padding: 15px;
}

a.nav:hover {
  color: #000000;
  text-decoration: none;
}

img {
  background-color: #4e3c3e;
  display: block;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 200px;
  padding: 10px;
  border-radius: 600px;
  position: absolute;
}

.about-me{
  text-align: center;
  padding-left: 160px;
}

p {
  padding: 1px 20px 3px 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  display: block;
}

ul, li
{
  width: 400px;
  max-width: auto;
  padding:10px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

@media only screen and (max-width: 1265px) {
  .about-me {
    display: block;
  }
}

@media only screen and (max-width: 952px) {
  .about-me {
    display: flex;
  }
  nav {
    text-align: right;
  }
}

.project-tile {
  display: block;
  background-color: #805E73;
  background-image: url('noise.png');
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  font-family: 'Comforter', sans-serif;
  font-size: 40px;
  text-decoration: none;
  border-radius: 10px;
}

:hover.project-tile {
  background-color: #4E4D5C;
}

.project-description {
  color: #4e3c3e;
  padding: 0px 15px 15px 15px;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1400px;
  margin: 0px auto;
}

.thumbnail-container a {
  padding: 0px;
}

.thumbnail {
  width: 100%;
  max-width: 160px;
  border-radius: 0px;
  padding: 5px;
  margin: 0px;
}

.spacer {
  width: 1px;
  height: 200px;
}

footer {
  padding: 10px;
}

section {
  background-color: rgba(128, 94, 115, 0.4);
  border-radius: 20px;
}

.projects > h3 {
  text-decoration: underline;
  font-size: 25px;
}

.badge {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 5px;
  margin: 3px;
  font-size: 12px;
  font-family: 'Playfair Display'!important;
  background-color: rgba(255, 255, 255, 0.15);
}