@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
 /* background-color: #243B4A; #F8E1D1;*/
  background-image: url('/noise.png'), linear-gradient(to right, #2D4654, #ac9088, #f8c9b9 );
  text-align: justify;
  font-family: 'Lato';
  font-size: 18px;
  white-space:wrap;
  padding: 10px;
}

h1 {
  color: #faded5;
  font-family: 'Comforter', sans-serif;
  text-align:center;
  font-size: 30px;
}

h2 {
  background-color: rgba(248, 201, 185, 0.6);
  color: black;
  font-family: 'Open Sans';
  text-align: center;
  padding: 7px;
  border: double;
}

.portrait {
  background-color: #4e3c3e;
  display: block;
  margin: 0px 20px 20px 20px;
  width: 200px;
  padding: 5px;
  border-radius: 600px;
  position: absolute;
}

.about-me {
  padding: 15px;
}

#content, nav > a {
  color: #4e3c3e;
  text-decoration: none;
  font-size: 20px;
  padding: 15px;
}

#navbar {
  background-color: #f8c9b9;
  background-image: url('noise.png');
  border: double;
  padding: 5px;
  width: 100%;
  text-align: center;
}

a.nav:hover {
  color: #000000;
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: flex-end;
}

img {
  background-color: #4e3c3e;
  width: 300px;
  padding: 2px;
  border-radius: 20px;
}

.about-me {
  text-align: center;
  font-size: 40px;
}

#projects {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

section {
  background-color: rgba(101, 94, 128, 0.4);
  border-radius: 20px;
  width: 470px;
  margin: 5px;
}

.badge {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 5px;
  margin: 3px;
  font-size: 12px;
  font-family: 'Playfair Display'!important;
  background-color: rgba(255, 255, 255, 0.15);
}

p {
  padding: 1px 20px 3px 20px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  display: block;
}

.extra {
  background-color: rgba(248, 201, 185, 0.5);
  padding-bottom: 5px;
}

.column > ul, li
{
  max-width: auto;
  padding:10px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

@media only screen and (max-width: 1265px) {
  .about-me {
    display: block;
  }
}

@media only screen and (max-width: 952px) {
  .about-me {
    display: flex;
  }

  #projects {
    display: flex;
  }
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1400px;
  margin: 0px auto;
}

.thumbnail-container a {
  padding: 0px;
}

.thumbnail {
  width: 100%;
  max-width: 160px;
  border-radius: 0px;
  padding: 5px;
  margin: 0px;
}

.spacer {
  width: 1px;
  height: 50px;
}

footer {
  padding: 10px;
  font-size: 15px;
}

